<H1 > Welcome to Data Science Fundamentals: Pandas to Predictions</H1>

<p align="center">
  <img src="Datafain logo.jpg"/>
</p>

Hello. My name is [Ridwan Salahuddeen](https://www.linkedin.com/in/ridwan-salahuddeen/) and I shall be taking you through on this class.

Follow [DataFain](https://www.linkedin.com/company/data-for-all-initiative) on LinkedIn

## Table of Contents
<font >
<ol>
<li> Ice Breaker: What is Data Science?, Data Science Tools, Numpy Introduction, Quiz 1
<li> Importance of Numpy,More Hands-on Use of Numpy,Quiz 2,Assignment 1
<li> Introduction to Pandas: Creating Dataframes and Reading From Files,Quiz 3
<li> More on Pandas: Manipulating Dataframes,Quiz 4,Assignment 2
<li> Introduction to Matplotlib: Plotting Simple Charts,Quiz 5
    
<li> More on Matplotlib: Drawing Inference from plots,Quiz 6,Assignment 3
<li> Types of Machine Learning Algorithms,Quiz 7
<li> Understanding Learning Algorithms - Logistic Regression,Quiz 8,Assignment 4
<li> Using Sci-Kit Learn: Logistic Regression,Sample Classification Problem1,Quiz 9
<li> Sample Classification Problem 2,Quiz 10,Assignment 5
</ol>
</font>

# Assignment 4

## Problem 1
### Linear Regression: Admission prediction

Admission prediction dataset is a dataset for predicting the chances of students getting admitted to universities based on some attributes such as exam scores, universities rankings, CGPA, etc.

In [29]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression, LinearRegression
from sklearn.metrics import accuracy_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler

### Read in the data (ensure you have internet connection on your system)

In [59]:
import pandas as pd

data = pd.read_csv('https://raw.githubusercontent.com/Ridzy619/Datafain/master/Courses/Data%20Science%20Fundamentals/Day%208/Admission_Predict.csv').drop("Serial No.", axis = 1)
data.head()

,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,337,118,4,4.5,4.5,9.65,1,0.92
1,324,107,4,4.0,4.5,8.87,1,0.76
2,316,104,3,3.0,3.5,8.00,1,0.72
3,322,110,3,3.5,2.5,8.67,1,0.80
4,314,103,2,2.0,3.0,8.21,0,0.65

#### To-Do
**Inspect the data to find out if there are missing values**

In [57]:
# Inspect for missing values

#### To-Do

1. Split the data into train and test using 20% for test
2. Separate the target colum from the train and test data

In [ ]:
train, test = train_test_split(data, test_data = ________)

train_y = train['Chance of Admit']
train_x = train.drop(['Chance of Admit'], axis = 1)
test_y = test['Chance of Admit']
test_x = test.drop(['Chance of Admit'], axis = 1)

#### To-Do
Createa an instance of the model and fit it on the train data

In [ ]:
model = _____________

model.fit(__________, ________)

#### To-Do
Make predictions using the test data

In [ ]:
model.__________(_______)

#### To-Do
Calculate the performance of your model using `mean_absolute_error`

***Ensure your error is less than 0.05***

In [ ]:
# Mean Absolute Error
__________

## Problem 2
### Logistic Regression Classification: Pima Indians Diabetes Dataset

The Pima Indians Diabetes Dataset involves predicting the onset of diabetes within 5 years in Pima Indians given medical details.

It is a binary (2-class) classification problem. The number of observations for each class is not balanced. There are 768 observations with 8 input variables and 1 output variable. Missing values are believed to be encoded with zero values. The variable names are as follows:

1. Number of times pregnant
2. Plasma glucose concentration a 2 hours in an oral glucose tolerance test
3. Diastolic blood pressure (mm Hg)
4. Triceps skin fold thickness (mm)
5. 2-Hour serum insulin (mu U/ml)
6. Body mass index (weight in kg/(height in m)^2)
7. Diabetes pedigree function
8. Age (years)
9. Class variable (0 or 1)

In [55]:
# Read data from this url: https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.csv

data = pd.read_csv('https://raw.githubusercontent.com/jbrownlee/Datasets/master/pima-indians-diabetes.csv',header = None)

# Replace the default column names with the ones below:
cols = "No of times pregnant,Plasma glucose conc,Blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),BMI,Diabetes pedigree function,Age,Class".split(",")
data.columns = cols
data.head()

,No of times pregnant,Plasma glucose conc,Blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),BMI,Diabetes pedigree function,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

#### To-Do
**Inspect the data to find out if there are missing values**

In [57]:
# Inspect for missing values

#### To-Do

Split the data into train and test using 25% for test

#### To-Do
Createa an instance of the model and fit it on the train data

#### To-Do
Make predictions using the test data

#### To-Do
Calculate the accuracy of your model