<H1 > Welcome to Data Science Fundamentals: Pandas to Predictions</H1>

<p align="center">
  <img src="Datafain logo.jpg"/>
</p>

Hello. My name is [Ridwan Salahuddeen](https://www.linkedin.com/in/ridwan-salahuddeen/) and I shall be taking you through on this class.

Follow [DataFain](https://www.linkedin.com/company/data-for-all-initiative) on LinkedIn

## Table of Contents
<font >
<ol>
<li> Ice Breaker: What is Data Science?, Data Science Tools, Numpy Introduction, Quiz 1
<li> Importance of Numpy,More Hands-on Use of Numpy,Quiz 2,Assignment 1
<li> Introduction to Pandas: Creating Dataframes and Reading From Files,Quiz 3
<li> More on Pandas: Manipulating Dataframes,Quiz 4,Assignment 2
<li> Introduction to Matplotlib: Plotting Simple Charts,Quiz 5
    
<li> More on Matplotlib: Drawing Inference from plots,Quiz 6,Assignment 3
<li> Types of Machine Learning Algorithms,Quiz 7
<li> Understanding Learning Algorithms - Logistic Regression,Quiz 8,Assignment 4
<li> Using Sci-Kit Learn: Logistic Regression,Sample Classification Problem1,Quiz 9
<li> Sample Classification Problem 2,Quiz 10,Assignment 5
</ol>
</font>

# Assignment 2

As the analyst in your organization, you have been tasked with drawing insights from the medical insurance data your company has aboout registered customers.

Specifically, you are required to do the following tasks and answer the following questions about the data:

In [1]:
import pandas as pd

### 1. Read the file in the link below as a DataFrame

[Medical Insurance](https://raw.githubusercontent.com/Ridzy619/Datafain/master/Courses/Data%20Science%20Fundamentals/Day%204/medical_insurance.csv)

Note: To download, simply save the page that opens from clicking the link above.

In [32]:
medical_insurance

      Unnamed: 0  age     sex     bmi  children smoker     region      charges
0              0   19  female  27.900       0.0    yes  southwest  16884.92400
1              1   18    male  33.770       1.0     no  southeast   1725.55230
2              2   28    male  33.000       3.0     no  southeast   4449.46200
3              3   33    male  22.705       0.0     no  northwest  21984.47061
4              4   32    male  28.880       0.0     no  northwest   3866.85520
...          ...  ...     ...     ...       ...    ...        ...          ...
1333        1333   50    male  30.970       3.0     no  northwest  10600.54830
1334        1334   18  female  31.920       0.0     no  northeast   2205.98080
1335        1335   18  female  36.850       0.0     no  southeast   1629.83350
1336        1336   21  female  25.800       0.0     no  southwest   2007.94500
1337        1337   61  female  29.070       0.0    yes  northwest  29141.36030

[1338 rows x 8 columns]

In [31]:
medical_insurance = pd.___________

### 2. How many Records are in the dataset?

Hint: Use `shape` attribute

In [35]:
count = medical_insurance._________
print(count)

10704

### 3. What is the ratio of males to females?

Hint: Use `value_counts` method on the appropriate column

In [40]:
value_counts = medical_insurance.sex.value_counts()
value_counts['male']/value_counts['female']

1.0211480362537764

In [ ]:
value_counts = medical_insurance[__________].___________


### Do not modify the code below ###
print("Ratio of male to female: {}".format(value_counts['male']/value_counts['female']))

### 4. For each column, how many `NaN` values exist?

Hint: Use `isna` method, then call `sum` method on the result.

In [41]:
medical_insurance._____._____

Unnamed: 0     0
age            0
sex            0
bmi            0
children      15
smoker        34
region         0
charges        0
dtype: int64

### 5. Your company understands that some fields were not filled for some customers. They have given you the freedom to decide on a strategy for filling the fields with values so they can be used in statiscal calculations.

Hint: You can use the mean value, the median value, the modal value, or forward fill, or backward fill.

In [ ]:
medical_insurance = medical_insurance.__________
medical_insurance.head()

### 6. The amount charged is in US Dollars; Your company wants to see it in Nigerian Naira as well.

Hint 1: Use NGN 400 to USD 1 as the exchange rate.

Hint 2: Create a new column with name `charges_naira`

In [ ]:
medical_insurance__________ = _____________

medical_insurance.head()

### 7. Your company wants you to get creative; they have told you to make and save three powerful charts that tell stories about the data.

In [45]:
### Chart 1

In [46]:
### Chart 2

In [47]:
### Chart 3

# How to submit

1. Run all the cells of this notebook without errors (Hint: click on `cell` in the menu bar, then `Run all`)
2. Upload this notebook as reponse/solution to the assignment in [Google Classroom](https://classroom.google.com/u/0/c/MTIwMTQxNTUzNDQw/a/MTIwMjYyNDE5ODc4/details)