<H1 > Welcome to Data Science Fundamentals: Pandas to Predictions</H1>

<p align="center">
  <img src="Datafain logo.jpg"/>
</p>

Hello. My name is [Ridwan Salahuddeen](https://www.linkedin.com/in/ridwan-salahuddeen/) and I shall be taking you through on this class.

Follow [DataFain](https://www.linkedin.com/company/data-for-all-initiative) on LinkedIn

## Table of Contents
<font >
<ol>
<li> Ice Breaker: What is Data Science?, Data Science Tools, Numpy Introduction, Quiz 1
<li> Importance of Numpy,More Hands-on Use of Numpy,Quiz 2,Assignment 1
<li> Introduction to Pandas: Creating Dataframes and Reading From Files,Quiz 3
<li> More on Pandas: Manipulating Dataframes,Quiz 4,Assignment 2
<li> Introduction to Matplotlib: Plotting Simple Charts,Quiz 5
    
<li> More on Matplotlib: Drawing Inference from plots,Quiz 6,Assignment 3
<li> Types of Machine Learning Algorithms,Quiz 7
<li> Understanding Learning Algorithms - Logistic Regression,Quiz 8,Assignment 4
<li> Using Sci-Kit Learn: Logistic Regression,Sample Classification Problem1,Quiz 9
<li> Sample Classification Problem 2,Quiz 10,Assignment 5
</ol>
</font>

# Final Project

**Problem Statement**
---

You have a telecom firm which has collected data of all its customers, and as the resident data scientist, you have been requested to predict which of the customers are likely to churn.

A customer is said to have churned when he/she stops using the services of the company/business.

**Description of Dataset**
---

The main types of attributes are:

1. Demographics (age, gender etc.)
2. Services availed (internet packs purchased, special offers etc)
3. Expenses (amount of recharge done per month etc.)

Based on all this past information, you want to build a model which will predict whether a particular customer will churn or not.

So the variable of interest, i.e. the target variable here is ‘Churn’ which will tell us whether or not a particular customer has churned. It is a binary variable 1 means that the customer has churned and 0 means the customer has not churned.
With 21 predictor variables we need to predict whether a particular customer will switch to another telecom provider or not.

**DATA**
---
Most of the columns have intuitive names that can easily be figured.

**PROPOSED PROCEDURE**
---
* Import the required libraries
* Importing all datasets
* Merging all datasets based on condition ("customer_id ")
* Data Cleaning - checking the null values
* Check for the missing values and replace them
* Model building
    * Binary encoding
    * One hot encoding
    * Creating dummy variables and removing the extra columns
* Feature selection using RFE - Recursive Feature Elimination
* Getting the predicted values on train set
* Creating a new column predicted with 1 if churn > 0.5 else 0
* Create a confusion matrix on train set and test
* Check the overall accuracy

Success Metric:
---
In this exercise, the success metric that will be employed is the **F1 Score**. Your goal is to achieve at least a **70% score**.

Dataset was gotten from [Kaggle](https://www.kaggle.com/dileep070/logisticregression-telecomcustomer-churmprediction)

### Importing Libraries

**TO DO 1**: Complete the code below to import the necessary libraries and modules. Do not worry if you cannot recall all the needed libraries and modules at the start. You can always come back to update it when you do remember.

In [106]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
np.random.seed = 2345

### Read in the data as dataframes

There are three datasets ('customer_data.csv', 'churn_data.csv' and 'internet_data.csv') which you can download from this [Github respository](https://github.com/Ridzy619/Datafain/tree/master/Courses/Data%20Science%20Fundamentals/Day%2010/), then moved to your working directory, or simply read using the files raw URLs, e.g. `pd.read_csv('https://raw.githubusercontent.com/Ridzy619/Datafain/master/Courses/Data%20Science%20Fundamentals/Day%2010/churn_data.csv')` for 'churn_data.csv' file.

**TO DO 2:** Read in the datasets and pass them to variables

In [18]:
cust = pd._______('___________')
cust.head()

   customerID  gender  SeniorCitizen Partner Dependents
0  7590-VHVEG  Female              0     Yes         No
1  5575-GNVDE    Male              0      No         No
2  3668-QPYBK    Male              0      No         No
3  7795-CFOCW    Male              0      No         No
4  9237-HQITU  Female              0      No         No

In [19]:
churn = pd._______('___________')
churn.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [20]:
internet = pd._______('___________')
internet.head()

,customerID,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,No,Fiber optic,No,No,No,No,No,No

In [74]:
# Inspect the shapes of the dataset

print(cust.shape)
print(churn.shape)
print(internet.shape)

(7042, 5)
(7042, 9)
(7042, 9)

### Merge the three dataframes together

**TO DO 3:** Since the data can be more easily worked with as a single file, you're required to merge the files into one.

*Note: Since customerID is common to all the dataframes, we will join them using the 'on' argument*

In [25]:
# Start by merging cust and churn dataframes
merge = pd.merge(cust, _____, on = '_______')

print("Shape of merge dataframe after merging cust and churn dataframes:", merge.shape)

# Merge 'internet' dataframe with 'merge' dataframe
merge = pd.______(_______, _________, on = '_______')
merge.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,...,TotalCharges,Churn,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies
0,7590-VHVEG,Female,0,Yes,No,1,No,Month-to-month,Yes,Electronic check,...,29.85,No,No phone service,DSL,No,Yes,No,No,No,No
1,5575-GNVDE,Male,0,No,No,34,Yes,One year,No,Mailed check,...,1889.5,No,No,DSL,Yes,No,Yes,No,No,No
2,3668-QPYBK,Male,0,No,No,2,Yes,Month-to-month,Yes,Mailed check,...,108.15,Yes,No,DSL,Yes,Yes,No,No,No,No
3,7795-CFOCW,Male,0,No,No,45,No,One year,No,Bank transfer (automatic),...,1840.75,No,No phone service,DSL,Yes,No,Yes,Yes,No,No
4,9237-HQITU,Female,0,No,No,2,Yes,Month-to-month,Yes,Electronic check,...,151.65,Yes,No,Fiber optic,No,No,No,No,No,No

### Check Your Data For Data Types and Null Values

**TO DO 4:** Use `.info()` and other means to inspect your data for completeness and data types

In [75]:
# Put your code below

### Encode Categorical Variables

> **You have heard that 95% of data science is data processing and only 5% time is spent actually building, testing and tuning the model. Well, this is your first taste of it**

If you did the previous step correctly, you will notice that most of the columns have object data types. This means that they are not numerical. Machine learning algorithms work better with numeric variables, hence the need to encode the categorical values as numeric.

There are a number of ways to encode variables, with the simplest of them all being **label encoding**. While some of the columns will be just fine with this simple encoding, others may not work so well. I recommend that you study the guidelines provided in this [Datacamp Tutorial](https://www.datacamp.com/community/tutorials/categorical-data) to decide on the correct encoding for different columns.

In [76]:
#  First, let us separate numerical variables from categorical (object) variables

num = merge.select_dtypes(exclude=object)

cat = merge.select_dtypes(include = object)

**TO DO 5 (YOU SHOULD SPEND SOME TIME HERE):** Encode each of the variables in cat dataframe to numerical. It is OK is the approach employed leads to increase in the total number of columns.

**Note:** Your approach to encoding should replace the one employed below that simply label encodes each columns (i.e, a column with three unique values will be encoded as 0, 1 and 2 for the respective values in an arbitrary order.

In [ ]:
# Implement categorical encoding below this line. Feel free to add new cells if required
# --------------------------------------------------------------------------------------#

In [105]:
# Your approach should replace this code. Feel free to delete it once you have implemented an approach that works.

# ------------------------------------------------------------------------------------------- #
# D E L E T E   T H E   C O D E   B E L O W   A F T E R   I M P L E M E N T I N G   Y O U R S #
# ------------------------------------------------------------------------------------------- #

for col in cat:
    vals = dict(zip(cat[col].unique(), np.arange(len(cat[col].unique()))))
    cat.loc[:, col] = cat[col].replace(vals).values

**Test if you have encoded all the columns properly**

The code below should not be modified. If will give an error if there are  any columns that are not numerical.

In [103]:
for col in cat:
    print("Data type:",cat[col].dtype)
    assert cat[col].dtype == object, f"Expected int or float data type, got {object}"

Data type: int32

AssertionError: Expected <class 'object'> data type, got int32

**Combine the num and cat dataframes together**

In [52]:
data_comb = pd.concat([cat, num], axis =1)

### Creating Charts

Since most of the columns are categorical, histogram plot is a good way to show the distribution of the values.

**TO DO 6:** For 5 different columns inluding the target column, 'Churn', create a histogram plot.

Feel free to create other compelling plots you can think about, while also getting creative with the one requested.

In [ ]:
# TO-DO

### Data Scaling

For ease of convergence, it is a good practice to scale the dataset before training on it. I will be using a simple MinMaxScaler method from `Sklearn.preprocessing` module.

In [ ]:
from sklearn.preprocessing import MinMaxScaler
ss = MinMaxScaler()
data_scaled = ss.fit_transform(data_comb)

### Modelling

Create an instance of the model for training

In [68]:
model = LogisticRegression()

**TO-DO 7:** Split Dataset into test and train using 20% as the train size

In [69]:
train, test = ____________(________)

**Separate the target label from the variables for training**

In [ ]:
train_x, train_y = train.drop('Churn', axis = 1), train.Churn
test_x, test_y = test.drop('Churn', axis = 1), test.Churn

### Train the Model and Evaluate

**TO-DO 8:** Fit the model on the train dataset and make predictions on the test dataset

In [70]:
# Fit the model on the train dataset

model.fit(train_x, train_y)

LogisticRegression(class_weight={0: 2, 1: 8})

In [109]:
# Evaluate model on the test dataset

pred = model.predict(test_x)

print("Accuracy:", accuracy_score(test_y, pred))
print("F1 Score:", f1_score(test_y, pred))
print("Confusion Matrix:\n", confusion_matrix(test_y, pred))

Accuracy: 0.7081203861442362
F1 Score: 0.6175595238095238
Confusion Matrix:
 [[832 456]
 [ 58 415]]

**TO-DO 9:** Put the modelling process in a function for re-usability. The function should make it possible to set the class weight of the model as a parameter. It should also accept the dataset as an argument.

In [110]:
def train_model(dataset, class_weight = {0:1, 1:1}):
    
    # ------------------ #
    # Your training here #
    # ------------------ #
    
    pass

**TO-DO 10:** Improve the model by changing the class weights parameter of the model. Also, you can perform other transformations (still back to the categorical encoding) to the dataset to improve the f1 Score.

**Expected F1 Score: 70%**

# How to Submit

**Ensure that your notebook runs from start to finish before submitting. Also, ensure you leave the outputs from the last run before submitting.